footer
{
    position : absolute;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
}

.page-footer-tabs
{
  background-color: #b3b3b3;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100px;
}

.page-footer-tabs a
{
  color: white
}
