.half-page-block-left
{
  padding-left: 20px;
  width: 30%;
  float: left;
  margin-left: 3%
}

.half-page-block-right
{
  width: 67%;
  float: right;
}

.activity-section
{
  /*width: 90%;*/
  margin-left: 10%;
  margin-right: 10%;
  border-style: solid;
  border-color: black;
  padding: 40px;
  margin-bottom: 10%;
}

.box-section
{
  border-style: double;
  border-color: black;
  padding: 20px;
}

.activity-left
{
  width: 45%;
  display: inline-block;
}

.activity-right
{
  width: 50%;
  float: right;
  padding-right: 30%;
  display: inline-block;
}

.activity-bottom
{
  width: 100%;
}

.homepage-section
{
  z-index: 10000;
  border-style: solid;
  border-color: black;
  padding: 40px;
  margin-left: 10%;
  margin-right: 10%;
  height: 80%;
}

.sdf-section
{
  display: inline;
  height: 100%;
  width: 100px;
  background-color: blue;
}
