body
{
  /*width: 70%;*/
  font-family: "Lucida Grande";
}

table, th, tr, td
{
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-collapse: collapse;
  text-align: center;
}

.incre-button
{
  background-color: #66b3ff;
  color: white;
  height: 30px;
  width: 30px;
  font-size: 20px;
  border-radius: 7px;
}
